[Unit]
Description=No-dal isolated NAT (%i)
Documentation=https://no-dal.com
# Isolated NAT only. Do not bind this unit to ndl-control or ndl-agent.
After=network.target systemd-networkd.service systemd-sysctl.service nftables.service
Wants=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /var/lib/ndl/net/nft/%i.nft
ExecStop=/usr/sbin/nft -f /var/lib/ndl/net/nft/%i.destroy.nft

[Install]
WantedBy=multi-user.target
